@model MainBit.SeoTags.Settings.SeoTagsPartSettings

<fieldset>
    <div>
        @Html.EditorFor(m => m.UseTypePartDefSettings)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.UseTypePartDefSettings)">@T("Use Content Type Part Definition Settings")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.AddPageToTitle)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.AddPageToTitle)">@T("Add a page number to the title and the description meta tags")</label>
    </div>
    <div>
        @Html.EditorFor(m => m.FirstPageCanonical)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.FirstPageCanonical)">@T("Add a canonical rel link that always points to the first page")</label>
    </div>
</fieldset>